* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.formularContainer {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.formulaContainer--h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20vw;
    justify-content: flex-end;
}

.formularContainer--img {
    display: flex;
    align-items: flex-end;
}

.formulaContainer--resultado {
    display: flex;
    flex-direction: row;
    /*   margin-right: 40vh; */
    width: 200vw;
}

.resultcontainer {
    position: relative;
    width: 100%;
    height: 50vh;
    left: 45px;
    top: 45px;
    background: linear-gradient(117.09deg, #99d5ec 9.64%, #7ce3ec 100%);
    border: 1px solid transparent;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

.resultcontainer__row {
    display: flex;
    flex-direction: row;
}

.resultcontainer__row--input {
    position: absolute;
    width: 342px;
    height: 90px;
    left: 40px;
    top: 29px;
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 20px;
    padding: 0px 50px;
}

.resultcontainer__row--button {
    position: absolute;
    width: 28vh;
    height: 90px;
    left: 392px;
    top: 29px;
    font-size: 20px;
    padding: 0px 50px;
    background: linear-gradient(180deg, #8ef8bb 0%, rgba(142, 248, 187, 0) 100%);
    border: 1px solid #9180b5;
    border-radius: 40px;
}

.resultcontainer__row--btnCalc {
    position: absolute;
    width: 300px;
    height: 90px;
    left: 100vh;
    top: 29px;
    font-size: 20px;
    padding: 0px 50px;
    background: linear-gradient(180deg, #8ef8bb 0%, rgba(142, 248, 187, 0) 100%);
    border: 1px solid #9180b5;
    border-radius: 40px;
}

.resultcontainer__row--reiniciar {
    position: absolute;
    width: 20vh;
    height: 90px;
    left: 700px;
    top: 29px;
    font-size: 20px;
    padding: 0px 50px;
    background: linear-gradient(180deg, #8ef8bb 0%, rgba(142, 248, 187, 0) 100%);
    border: 1px solid #9180b5;
    border-radius: 40px;
}

.addMore {
    position: absolute;
    width: 84px;
    height: 84px;
    left: 8px;
    top: 5px;
}

.calculateIcon {
    position: absolute;
    width: 84px;
    height: 84px;
    left: 40px;
    top: 5px;
}

.resultcontainer__row--button:hover,
.resultcontainer__row--button:active,
.resultcontainer__row--btnCalc:hover {
    color: white;
    background: linear-gradient(180deg, #629eb4 0%, #99d5ec 100%);
    border: 1px solid #9180b5;
    border-radius: 40px;
}

.resultcontainer__row--button:active,
.resultcontainer__row--btnCalc:active {
    border: 1px solid #9180b5;
    filter: drop-shadow(2px 2px 4px rgba(255, 252, 252, 0.6));
    border-radius: 40px;
}

textarea {
    position: absolute;
    width: 50%;
    height: 240px;
    left: 40px;
    top: 150px;
    background: #ffffff;
    border: 1px solid #3f3f3f;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 20px;
    color: gray;
    outline: none;
    font-family: Roboto;
}

.resultcontainer__row--result {
    position: absolute;
    width: 50vh;
    height: 240px;
    left: 80vh;
    top: 150px;
    background: #ffffff;
    border: 1px solid #3f3f3f;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 110px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    line-height: 141px;
    color: #62a5be;
}